In [24]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [25]:
# Read the data into a Pandas DataFrame
canada_df = pd.read_csv('1710004001_databaseLoadingData.csv')
canada_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,55134.0,NaN,NaN,NaN,0
1,2006-04,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,67914.0,NaN,NaN,NaN,0
2,2006-07,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,70354.0,NaN,NaN,NaN,0
3,2006-10,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,58247.0,NaN,NaN,NaN,0
4,2007-01,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,47873.0,NaN,NaN,NaN,0

In [26]:
# Extract the year from the "REF_DATE" column
canada_df["REF_DATE"] = canada_df["REF_DATE"].str[:4]
canada_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,55134.0,NaN,NaN,NaN,0
1,2006,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,67914.0,NaN,NaN,NaN,0
2,2006,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,70354.0,NaN,NaN,NaN,0
3,2006,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,58247.0,NaN,NaN,NaN,0
4,2007,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,47873.0,NaN,NaN,NaN,0

In [27]:
#Renaming the columns 'REF_DATE' and 'VALUE'
canada_df = canada_df.rename(columns={'REF_DATE':'YEAR' , 'VALUE' : 'IMMIGRANTS COUNT'})
canada_df.head()

,YEAR,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,55134.0,NaN,NaN,NaN,0
1,2006,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,67914.0,NaN,NaN,NaN,0
2,2006,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,70354.0,NaN,NaN,NaN,0
3,2006,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,58247.0,NaN,NaN,NaN,0
4,2007,Canada,2016A000011124,Immigrants,Persons,249,units,0,v29850342,1.1,47873.0,NaN,NaN,NaN,0

In [28]:
#  Droping the specified columns from canada_df
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

canada_df.drop(columns=columns_to_drop, inplace=True)

In [29]:
canada_df.head()

   YEAR     GEO  IMMIGRANTS COUNT
0  2006  Canada           55134.0
1  2006  Canada           67914.0
2  2006  Canada           70354.0
3  2006  Canada           58247.0
4  2007  Canada           47873.0

In [30]:
canada_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   GEO               544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [31]:
#Dropping the null values and groupby Year to find the sum of immigrants
canada_df_cleaned = canada_df.dropna(subset=["IMMIGRANTS COUNT"])
canada_result_df = canada_df_cleaned.groupby("YEAR").agg({
    "GEO": "first", 
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [32]:
canada_result_df["IMMIGRANTS COUNT"] = canada_result_df["IMMIGRANTS COUNT"].astype(int)

In [33]:
canada_result_df

    YEAR     GEO  IMMIGRANTS COUNT
0   2006  Canada            439576
1   2007  Canada            450617
2   2008  Canada            489263
3   2009  Canada            457135
4   2010  Canada            449020
5   2011  Canada            467951
6   2012  Canada            480402
7   2013  Canada            490664
8   2014  Canada            461198
9   2015  Canada            454541
10  2016  Canada            604781
11  2017  Canada            632597
12  2018  Canada            670041
13  2019  Canada            711875
14  2020  Canada            209342
15  2021  Canada           1353678
16  2022  Canada           2548704

In [34]:
# Read the data into a Pandas DataFrame
Alberta_df = pd.read_csv('Alberta.csv')
Alberta_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4727.0,NaN,NaN,NaN,0
1,2006-04,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,5444.0,NaN,NaN,NaN,0
2,2006-07,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,5713.0,NaN,NaN,NaN,0
3,2006-10,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4833.0,NaN,NaN,NaN,0
4,2007-01,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4014.0,NaN,NaN,NaN,0

In [35]:
# Extract the year from the "REF_DATE" column
Alberta_df["REF_DATE"] = Alberta_df["REF_DATE"].str[:4]
Alberta_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4727.0,NaN,NaN,NaN,0
1,2006,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,5444.0,NaN,NaN,NaN,0
2,2006,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,5713.0,NaN,NaN,NaN,0
3,2006,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4833.0,NaN,NaN,NaN,0
4,2007,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4014.0,NaN,NaN,NaN,0

In [36]:
#Renaming the columns 'REF_DATE','GEO' and 'VALUE'
Alberta_df = Alberta_df.rename(columns={'REF_DATE':'YEAR' ,'GEO': 'PROVINCE' , 'VALUE' : 'IMMIGRANTS COUNT'})
Alberta_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4727.0,NaN,NaN,NaN,0
1,2006,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,5444.0,NaN,NaN,NaN,0
2,2006,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,5713.0,NaN,NaN,NaN,0
3,2006,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4833.0,NaN,NaN,NaN,0
4,2007,Alberta,2016A000248,Immigrants,Persons,249,units,0,v29850387,10.1,4014.0,NaN,NaN,NaN,0

In [37]:
#  Droping the specified columns from Alberta_df
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

Alberta_df.drop(columns=columns_to_drop, inplace=True)

In [38]:
Alberta_df.head()

   YEAR PROVINCE  IMMIGRANTS COUNT
0  2006  Alberta            4727.0
1  2006  Alberta            5444.0
2  2006  Alberta            5713.0
3  2006  Alberta            4833.0
4  2007  Alberta            4014.0

In [39]:
Alberta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [40]:
#Dropping the null values and groupby Year to find the sum of immigrants
Alberta_df_cleaned = Alberta_df.dropna(subset=["IMMIGRANTS COUNT"])
Alberta_result_df = Alberta_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [41]:

Alberta_result_df["IMMIGRANTS COUNT"] = Alberta_result_df["IMMIGRANTS COUNT"].astype(int)

In [42]:
Alberta_result_df['coordinates'] = [(55.0, -115.0)] * len(Alberta_result_df)

In [43]:
Alberta_result_df

    YEAR PROVINCE  IMMIGRANTS COUNT     coordinates
0   2006  Alberta             47194  (55.0, -115.0)
1   2007  Alberta             57508  (55.0, -115.0)
2   2008  Alberta             68668  (55.0, -115.0)
3   2009  Alberta             53051  (55.0, -115.0)
4   2010  Alberta             41838  (55.0, -115.0)
5   2011  Alberta             53014  (55.0, -115.0)
6   2012  Alberta             62317  (55.0, -115.0)
7   2013  Alberta             74213  (55.0, -115.0)
8   2014  Alberta             59450  (55.0, -115.0)
9   2015  Alberta             54077  (55.0, -115.0)
10  2016  Alberta             68802  (55.0, -115.0)
11  2017  Alberta             66064  (55.0, -115.0)
12  2018  Alberta             65369  (55.0, -115.0)
13  2019  Alberta             73947  (55.0, -115.0)
14  2020  Alberta             31077  (55.0, -115.0)
15  2021  Alberta            108738  (55.0, -115.0)
16  2022  Alberta            214161  (55.0, -115.0)

In [44]:
# Read the data into a Pandas DataFrame
BritishColumbia_df = pd.read_csv('BritishColumbia.csv')
BritishColumbia_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,10271.0,NaN,NaN,NaN,0
1,2006-04,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,11478.0,NaN,NaN,NaN,0
2,2006-07,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,11025.0,NaN,NaN,NaN,0
3,2006-10,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,9322.0,NaN,NaN,NaN,0
4,2007-01,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,7973.0,NaN,NaN,NaN,0

In [45]:
# Extract the year from the "REF_DATE" column
BritishColumbia_df["REF_DATE"] = BritishColumbia_df["REF_DATE"].str[:4]
BritishColumbia_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,10271.0,NaN,NaN,NaN,0
1,2006,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,11478.0,NaN,NaN,NaN,0
2,2006,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,11025.0,NaN,NaN,NaN,0
3,2006,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,9322.0,NaN,NaN,NaN,0
4,2007,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,7973.0,NaN,NaN,NaN,0

In [46]:
#Renaming the columns 'REF_DATE' ,'GEO' and 'VALUE'
BritishColumbia_df = BritishColumbia_df.rename(columns={'REF_DATE':'YEAR' , 'GEO': 'PROVINCE' ,'VALUE' : 'IMMIGRANTS COUNT'})
BritishColumbia_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,10271.0,NaN,NaN,NaN,0
1,2006,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,11478.0,NaN,NaN,NaN,0
2,2006,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,11025.0,NaN,NaN,NaN,0
3,2006,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,9322.0,NaN,NaN,NaN,0
4,2007,British Columbia,2016A000259,Immigrants,Persons,249,units,0,v29850392,11.1,7973.0,NaN,NaN,NaN,0

In [47]:
#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']
BritishColumbia_df.drop(columns=columns_to_drop, inplace=True)

In [48]:
BritishColumbia_df.head()

   YEAR          PROVINCE  IMMIGRANTS COUNT
0  2006  British Columbia           10271.0
1  2006  British Columbia           11478.0
2  2006  British Columbia           11025.0
3  2006  British Columbia            9322.0
4  2007  British Columbia            7973.0

In [49]:
Alberta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [50]:
#Dropping the null values and groupby Year to find the sum of immigrants
BritishColumbia_df_cleaned = BritishColumbia_df.dropna(subset=["IMMIGRANTS COUNT"])
BritishColumbia_result_df = BritishColumbia_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [51]:
#changing the datatype of immigration count to integer
BritishColumbia_result_df["IMMIGRANTS COUNT"] = BritishColumbia_result_df["IMMIGRANTS COUNT"].astype(int)

In [52]:
#Adding the coordinated column to the dataframe
BritishColumbia_result_df['coordinates'] = [(53.73	,-127.65)] * len(BritishColumbia_result_df)

In [53]:
BritishColumbia_result_df

    YEAR          PROVINCE  IMMIGRANTS COUNT       coordinates
0   2006  British Columbia             82476  (53.73, -127.65)
1   2007  British Columbia             86383  (53.73, -127.65)
2   2008  British Columbia             97093  (53.73, -127.65)
3   2009  British Columbia             90963  (53.73, -127.65)
4   2010  British Columbia             80292  (53.73, -127.65)
5   2011  British Columbia             84126  (53.73, -127.65)
6   2012  British Columbia             82238  (53.73, -127.65)
7   2013  British Columbia             85229  (53.73, -127.65)
8   2014  British Columbia             80254  (53.73, -127.65)
9   2015  British Columbia             52454  (53.73, -127.65)
10  2016  British Columbia             99034  (53.73, -127.65)
11  2017  British Columbia            109307  (53.73, -127.65)
12  2018  British Columbia            112153  (53.73, -127.65)
13  2019  British Columbia            114696  (53.73, -127.65)
14  2020  British Columbia             24086  (53.73, -127.65)
15  2021  British Columbia            256558  (53.73, -127.65)
16  2022  British Columbia            464239  (53.73, -127.65)

In [54]:

# Read the data into a Pandas DataFrame
Manitoba_df = pd.read_csv('Manitoba.csv')
Manitoba_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2161.0,NaN,NaN,NaN,0
1,2006-04,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2648.0,NaN,NaN,NaN,0
2,2006-07,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,3052.0,NaN,NaN,NaN,0
3,2006-10,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2188.0,NaN,NaN,NaN,0
4,2007-01,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2314.0,NaN,NaN,NaN,0

In [55]:

# Extract the year from the "REF_DATE" column
Manitoba_df["REF_DATE"] = Manitoba_df["REF_DATE"].str[:4]
Manitoba_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2161.0,NaN,NaN,NaN,0
1,2006,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2648.0,NaN,NaN,NaN,0
2,2006,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,3052.0,NaN,NaN,NaN,0
3,2006,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2188.0,NaN,NaN,NaN,0
4,2007,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2314.0,NaN,NaN,NaN,0

In [56]:
#Renaming the columns 'REF_DATE',GEO and 'VALUE'
Manitoba_df = Manitoba_df.rename(columns={'REF_DATE':'YEAR' ,'GEO': 'PROVINCE' , 'VALUE' : 'IMMIGRANTS COUNT'})
Manitoba_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2161.0,NaN,NaN,NaN,0
1,2006,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2648.0,NaN,NaN,NaN,0
2,2006,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,3052.0,NaN,NaN,NaN,0
3,2006,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2188.0,NaN,NaN,NaN,0
4,2007,Manitoba,2016A000246,Immigrants,Persons,249,units,0,v29850377,8.1,2314.0,NaN,NaN,NaN,0

In [57]:
#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

Manitoba_df.drop(columns=columns_to_drop, inplace=True)

In [58]:
Manitoba_df.head()

   YEAR  PROVINCE  IMMIGRANTS COUNT
0  2006  Manitoba            2161.0
1  2006  Manitoba            2648.0
2  2006  Manitoba            3052.0
3  2006  Manitoba            2188.0
4  2007  Manitoba            2314.0

In [59]:
Manitoba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [60]:
#Dropping the null values and groupby Year to find the sum of immigrants
Manitoba_df_cleaned = Manitoba_df.dropna(subset=["IMMIGRANTS COUNT"])
Manitoba_result_df = Manitoba_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [61]:
#Adding the coordinated column to the dataframe
Manitoba_result_df['coordinates'] = [(56.42	,-98.74)] * len(Manitoba_result_df)

In [62]:
#changing the datatype of immigration count to integer
Manitoba_result_df["IMMIGRANTS COUNT"] = Manitoba_result_df["IMMIGRANTS COUNT"].astype(int)
Manitoba_result_df

    YEAR  PROVINCE  IMMIGRANTS COUNT      coordinates
0   2006  Manitoba             15278  (56.42, -98.74)
1   2007  Manitoba             16616  (56.42, -98.74)
2   2008  Manitoba             16151  (56.42, -98.74)
3   2009  Manitoba             17808  (56.42, -98.74)
4   2010  Manitoba             19421  (56.42, -98.74)
5   2011  Manitoba             19717  (56.42, -98.74)
6   2012  Manitoba             18347  (56.42, -98.74)
7   2013  Manitoba             18202  (56.42, -98.74)
8   2014  Manitoba             21729  (56.42, -98.74)
9   2015  Manitoba             24519  (56.42, -98.74)
10  2016  Manitoba             27150  (56.42, -98.74)
11  2017  Manitoba             26948  (56.42, -98.74)
12  2018  Manitoba             24556  (56.42, -98.74)
13  2019  Manitoba             24177  (56.42, -98.74)
14  2020  Manitoba             10706  (56.42, -98.74)
15  2021  Manitoba             40814  (56.42, -98.74)
16  2022  Manitoba             80759  (56.42, -98.74)

In [63]:
# Read the data into a Pandas DataFrame
NewBrunswick_df = pd.read_csv('NewBrunswick.csv')
NewBrunswick_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,322.0,NaN,NaN,NaN,0
1,2006-04,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,457.0,NaN,NaN,NaN,0
2,2006-07,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,470.0,NaN,NaN,NaN,0
3,2006-10,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,397.0,NaN,NaN,NaN,0
4,2007-01,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,374.0,NaN,NaN,NaN,0

In [64]:
# Extract the year from the "REF_DATE" column
NewBrunswick_df["REF_DATE"] = NewBrunswick_df["REF_DATE"].str[:4]
NewBrunswick_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,322.0,NaN,NaN,NaN,0
1,2006,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,457.0,NaN,NaN,NaN,0
2,2006,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,470.0,NaN,NaN,NaN,0
3,2006,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,397.0,NaN,NaN,NaN,0
4,2007,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,374.0,NaN,NaN,NaN,0

In [65]:
#Renaming the columns 'REF_DATE',GEO and 'VALUE'
NewBrunswick_df = NewBrunswick_df.rename(columns={'REF_DATE':'YEAR' , 'GEO': 'PROVINCE' ,'VALUE' : 'IMMIGRANTS COUNT'})
NewBrunswick_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,322.0,NaN,NaN,NaN,0
1,2006,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,457.0,NaN,NaN,NaN,0
2,2006,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,470.0,NaN,NaN,NaN,0
3,2006,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,397.0,NaN,NaN,NaN,0
4,2007,New Brunswick,2016A000213,Immigrants,Persons,249,units,0,v29850362,5.1,374.0,NaN,NaN,NaN,0

In [66]:
#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

NewBrunswick_df.drop(columns=columns_to_drop, inplace=True)

In [67]:
NewBrunswick_df.head()

   YEAR       PROVINCE  IMMIGRANTS COUNT
0  2006  New Brunswick             322.0
1  2006  New Brunswick             457.0
2  2006  New Brunswick             470.0
3  2006  New Brunswick             397.0
4  2007  New Brunswick             374.0

In [68]:
NewBrunswick_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [69]:
#Dropping the null values and groupby Year to find the sum of immigrants
NewBrunswick_df_cleaned = NewBrunswick_df.dropna(subset=["IMMIGRANTS COUNT"])

NewBrunswick_result_df = NewBrunswick_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [70]:
#Adding the coordinated column to the dataframe
NewBrunswick_result_df['coordinates'] = [(46.50 ,	-66.16)] * len(NewBrunswick_result_df)

In [71]:
#changing the datatype of immigration count to integer
NewBrunswick_result_df["IMMIGRANTS COUNT"] = NewBrunswick_result_df["IMMIGRANTS COUNT"].astype(int)
NewBrunswick_result_df

    YEAR       PROVINCE  IMMIGRANTS COUNT     coordinates
0   2006  New Brunswick              3563  (46.5, -66.16)
1   2007  New Brunswick              3495  (46.5, -66.16)
2   2008  New Brunswick              3956  (46.5, -66.16)
3   2009  New Brunswick              3592  (46.5, -66.16)
4   2010  New Brunswick              3580  (46.5, -66.16)
5   2011  New Brunswick              3326  (46.5, -66.16)
6   2012  New Brunswick              3565  (46.5, -66.16)
7   2013  New Brunswick              3355  (46.5, -66.16)
8   2014  New Brunswick              4263  (46.5, -66.16)
9   2015  New Brunswick              4681  (46.5, -66.16)
10  2016  New Brunswick              6518  (46.5, -66.16)
11  2017  New Brunswick              5859  (46.5, -66.16)
12  2018  New Brunswick              7558  (46.5, -66.16)
13  2019  New Brunswick              8899  (46.5, -66.16)
14  2020  New Brunswick              3531  (46.5, -66.16)
15  2021  New Brunswick             20064  (46.5, -66.16)
16  2022  New Brunswick             39915  (46.5, -66.16)

In [72]:
# Read the data into a Pandas DataFrame
newFoundlandLaborador_df = pd.read_csv('newFoundlandLaborador.csv')
newFoundlandLaborador_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,112.0,NaN,NaN,NaN,0
1,2006-04,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,116.0,NaN,NaN,NaN,0
2,2006-07,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,126.0,NaN,NaN,NaN,0
3,2006-10,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,154.0,NaN,NaN,NaN,0
4,2007-01,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,109.0,NaN,NaN,NaN,0

In [73]:
# Extract the year from the "REF_DATE" column
newFoundlandLaborador_df["REF_DATE"] = newFoundlandLaborador_df["REF_DATE"].str[:4]
newFoundlandLaborador_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,112.0,NaN,NaN,NaN,0
1,2006,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,116.0,NaN,NaN,NaN,0
2,2006,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,126.0,NaN,NaN,NaN,0
3,2006,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,154.0,NaN,NaN,NaN,0
4,2007,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,109.0,NaN,NaN,NaN,0

In [74]:
#Renaming the columns 'REF_DATE',GEO and 'VALUE'
newFoundlandLaborador_df = newFoundlandLaborador_df.rename(columns={'REF_DATE':'YEAR' , 'GEO': 'PROVINCE' ,'VALUE' : 'IMMIGRANTS COUNT'})
newFoundlandLaborador_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,112.0,NaN,NaN,NaN,0
1,2006,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,116.0,NaN,NaN,NaN,0
2,2006,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,126.0,NaN,NaN,NaN,0
3,2006,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,154.0,NaN,NaN,NaN,0
4,2007,Newfoundland and Labrador,2016A000210,Immigrants,Persons,249,units,0,v29850347,2.1,109.0,NaN,NaN,NaN,0

In [75]:
#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

newFoundlandLaborador_df.drop(columns=columns_to_drop, inplace=True)

In [76]:
newFoundlandLaborador_df.head()

   YEAR                   PROVINCE  IMMIGRANTS COUNT
0  2006  Newfoundland and Labrador             112.0
1  2006  Newfoundland and Labrador             116.0
2  2006  Newfoundland and Labrador             126.0
3  2006  Newfoundland and Labrador             154.0
4  2007  Newfoundland and Labrador             109.0

In [77]:
newFoundlandLaborador_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [78]:

#Dropping the null values and groupby Year to find the sum of immigrants
newFoundlandLaborador_df_cleaned = newFoundlandLaborador_df.dropna(subset=["IMMIGRANTS COUNT"])

newFoundlandLaborador_result_df = newFoundlandLaborador_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [79]:
#Adding the coordinated column to the dataframe
newFoundlandLaborador_result_df['coordinates'] = [(53.14 ,	-57.66)] * len(newFoundlandLaborador_result_df)

In [80]:
#changing the datatype of immigration count to integer
newFoundlandLaborador_result_df["IMMIGRANTS COUNT"] = newFoundlandLaborador_result_df["IMMIGRANTS COUNT"].astype(int)
newFoundlandLaborador_result_df

    YEAR                   PROVINCE  IMMIGRANTS COUNT      coordinates
0   2006  Newfoundland and Labrador              1672  (53.14, -57.66)
1   2007  Newfoundland and Labrador              1477  (53.14, -57.66)
2   2008  Newfoundland and Labrador              1861  (53.14, -57.66)
3   2009  Newfoundland and Labrador              1710  (53.14, -57.66)
4   2010  Newfoundland and Labrador              1545  (53.14, -57.66)
5   2011  Newfoundland and Labrador              2071  (53.14, -57.66)
6   2012  Newfoundland and Labrador              2453  (53.14, -57.66)
7   2013  Newfoundland and Labrador              2455  (53.14, -57.66)
8   2014  Newfoundland and Labrador              1823  (53.14, -57.66)
9   2015  Newfoundland and Labrador              2460  (53.14, -57.66)
10  2016  Newfoundland and Labrador              3012  (53.14, -57.66)
11  2017  Newfoundland and Labrador              2069  (53.14, -57.66)
12  2018  Newfoundland and Labrador              2253  (53.14, -57.66)
13  2019  Newfoundland and Labrador              3121  (53.14, -57.66)
14  2020  Newfoundland and Labrador               257  (53.14, -57.66)
15  2021  Newfoundland and Labrador              8885  (53.14, -57.66)
16  2022  Newfoundland and Labrador             18217  (53.14, -57.66)

In [81]:
# Read the data into a Pandas DataFrame
Novascotia_df = pd.read_csv('Novascotia.csv')
Novascotia_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,504.0,NaN,NaN,NaN,0
1,2006-04,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,554.0,NaN,NaN,NaN,0
2,2006-07,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,896.0,NaN,NaN,NaN,0
3,2006-10,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,632.0,NaN,NaN,NaN,0
4,2007-01,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,542.0,NaN,NaN,NaN,0

In [82]:
# Extract the year from the "REF_DATE" column
Novascotia_df["REF_DATE"] = Novascotia_df["REF_DATE"].str[:4]
Novascotia_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,504.0,NaN,NaN,NaN,0
1,2006,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,554.0,NaN,NaN,NaN,0
2,2006,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,896.0,NaN,NaN,NaN,0
3,2006,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,632.0,NaN,NaN,NaN,0
4,2007,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,542.0,NaN,NaN,NaN,0

In [83]:
#Renaming the columns 'REF_DATE',GEO and 'VALUE'
Novascotia_df = Novascotia_df.rename(columns={'REF_DATE':'YEAR' ,'GEO': 'PROVINCE' , 'VALUE' : 'IMMIGRANTS COUNT'})
Novascotia_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,504.0,NaN,NaN,NaN,0
1,2006,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,554.0,NaN,NaN,NaN,0
2,2006,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,896.0,NaN,NaN,NaN,0
3,2006,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,632.0,NaN,NaN,NaN,0
4,2007,Nova Scotia,2016A000212,Immigrants,Persons,249,units,0,v29850357,4.1,542.0,NaN,NaN,NaN,0

In [84]:
#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

Novascotia_df.drop(columns=columns_to_drop, inplace=True)

In [85]:
Novascotia_df.head()

   YEAR     PROVINCE  IMMIGRANTS COUNT
0  2006  Nova Scotia             504.0
1  2006  Nova Scotia             554.0
2  2006  Nova Scotia             896.0
3  2006  Nova Scotia             632.0
4  2007  Nova Scotia             542.0

In [86]:

Novascotia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [87]:
#Dropping the null values and groupby Year to find the sum of immigrants
Novascotia_df_cleaned = Novascotia_df.dropna(subset=["IMMIGRANTS COUNT"])
Novascotia_result_df = Novascotia_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [88]:
#Adding the coordinated column to the dataframe
Novascotia_result_df['coordinates'] = [(45.00	,-63.00)] * len(Novascotia_result_df)

In [89]:
#changing the datatype of immigration count to integer
Novascotia_result_df["IMMIGRANTS COUNT"] = Novascotia_result_df["IMMIGRANTS COUNT"].astype(int)
Novascotia_result_df

    YEAR     PROVINCE  IMMIGRANTS COUNT    coordinates
0   2006  Nova Scotia              5883  (45.0, -63.0)
1   2007  Nova Scotia              5229  (45.0, -63.0)
2   2008  Nova Scotia              6033  (45.0, -63.0)
3   2009  Nova Scotia              6064  (45.0, -63.0)
4   2010  Nova Scotia              6467  (45.0, -63.0)
5   2011  Nova Scotia              6297  (45.0, -63.0)
6   2012  Nova Scotia              6001  (45.0, -63.0)
7   2013  Nova Scotia              5121  (45.0, -63.0)
8   2014  Nova Scotia              5397  (45.0, -63.0)
9   2015  Nova Scotia              8616  (45.0, -63.0)
10  2016  Nova Scotia             10673  (45.0, -63.0)
11  2017  Nova Scotia              9594  (45.0, -63.0)
12  2018  Nova Scotia             12405  (45.0, -63.0)
13  2019  Nova Scotia             13416  (45.0, -63.0)
14  2020  Nova Scotia              2582  (45.0, -63.0)
15  2021  Nova Scotia             29955  (45.0, -63.0)
16  2022  Nova Scotia             56780  (45.0, -63.0)

In [90]:
# Read the data into a Pandas DataFrame
Ontario_df = pd.read_csv('Ontario.csv')
Ontario_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,27365.0,NaN,NaN,NaN,0
1,2006-04,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,34912.0,NaN,NaN,NaN,0
2,2006-07,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,34179.0,NaN,NaN,NaN,0
3,2006-10,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,29443.0,NaN,NaN,NaN,0
4,2007-01,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,22342.0,NaN,NaN,NaN,0

In [91]:
# Extract the year from the "REF_DATE" column
Ontario_df["REF_DATE"] = Ontario_df["REF_DATE"].str[:4]
Ontario_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,27365.0,NaN,NaN,NaN,0
1,2006,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,34912.0,NaN,NaN,NaN,0
2,2006,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,34179.0,NaN,NaN,NaN,0
3,2006,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,29443.0,NaN,NaN,NaN,0
4,2007,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,22342.0,NaN,NaN,NaN,0

In [92]:
#Renaming the columns 'REF_DATE',GEO and 'VALUE'
Ontario_df = Ontario_df.rename(columns={'REF_DATE':'YEAR' ,'GEO': 'PROVINCE' , 'VALUE' : 'IMMIGRANTS COUNT'})
Ontario_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,27365.0,NaN,NaN,NaN,0
1,2006,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,34912.0,NaN,NaN,NaN,0
2,2006,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,34179.0,NaN,NaN,NaN,0
3,2006,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,29443.0,NaN,NaN,NaN,0
4,2007,Ontario,2016A000235,Immigrants,Persons,249,units,0,v29850372,7.1,22342.0,NaN,NaN,NaN,0

In [93]:
#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

Ontario_df.drop(columns=columns_to_drop, inplace=True)

In [94]:
Ontario_df.head()

   YEAR PROVINCE  IMMIGRANTS COUNT
0  2006  Ontario           27365.0
1  2006  Ontario           34912.0
2  2006  Ontario           34179.0
3  2006  Ontario           29443.0
4  2007  Ontario           22342.0

In [95]:
Ontario_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [96]:
#Dropping the null values and groupby Year to find the sum of immigrants
Ontario_df_cleaned = Ontario_df.dropna(subset=["IMMIGRANTS COUNT"])
Ontario_result_df = Ontario_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [97]:
#Adding the coordinated column to the dataframe
Ontario_result_df['coordinates'] = [(50.00	,-85.00)] * len(Ontario_result_df)

In [98]:
#changing the datatype of immigration count to integer
Ontario_result_df["IMMIGRANTS COUNT"] = Ontario_result_df["IMMIGRANTS COUNT"].astype(int)
Ontario_result_df

    YEAR PROVINCE  IMMIGRANTS COUNT    coordinates
0   2006  Ontario            208028  (50.0, -85.0)
1   2007  Ontario            198742  (50.0, -85.0)
2   2008  Ontario            205703  (50.0, -85.0)
3   2009  Ontario            189125  (50.0, -85.0)
4   2010  Ontario            202329  (50.0, -85.0)
5   2011  Ontario            201423  (50.0, -85.0)
6   2012  Ontario            200996  (50.0, -85.0)
7   2013  Ontario            202869  (50.0, -85.0)
8   2014  Ontario            187929  (50.0, -85.0)
9   2015  Ontario            204297  (50.0, -85.0)
10  2016  Ontario            265706  (50.0, -85.0)
11  2017  Ontario            271227  (50.0, -85.0)
12  2018  Ontario            299184  (50.0, -85.0)
13  2019  Ontario            318713  (50.0, -85.0)
14  2020  Ontario             90190  (50.0, -85.0)
15  2021  Ontario            641514  (50.0, -85.0)
16  2022  Ontario           1104635  (50.0, -85.0)

In [99]:
# Read the data into a Pandas DataFrame
PEI_df = pd.read_csv('PEI.csv')
PEI_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,60.0,NaN,NaN,NaN,0
1,2006-04,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,135.0,NaN,NaN,NaN,0
2,2006-07,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,200.0,NaN,NaN,NaN,0
3,2006-10,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,170.0,NaN,NaN,NaN,0
4,2007-01,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,149.0,NaN,NaN,NaN,0

In [100]:
# Extract the year from the "REF_DATE" column
PEI_df["REF_DATE"] = PEI_df["REF_DATE"].str[:4]
PEI_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,60.0,NaN,NaN,NaN,0
1,2006,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,135.0,NaN,NaN,NaN,0
2,2006,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,200.0,NaN,NaN,NaN,0
3,2006,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,170.0,NaN,NaN,NaN,0
4,2007,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,149.0,NaN,NaN,NaN,0

In [101]:
#Renaming the columns 'REF_DATE', GEO and 'VALUE'
PEI_df = PEI_df.rename(columns={'REF_DATE':'YEAR' ,'GEO': 'PROVINCE' , 'VALUE' : 'IMMIGRANTS COUNT'})
PEI_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,60.0,NaN,NaN,NaN,0
1,2006,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,135.0,NaN,NaN,NaN,0
2,2006,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,200.0,NaN,NaN,NaN,0
3,2006,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,170.0,NaN,NaN,NaN,0
4,2007,Prince Edward Island,2016A000211,Immigrants,Persons,249,units,0,v29850352,3.1,149.0,NaN,NaN,NaN,0

In [102]:
#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

PEI_df.drop(columns=columns_to_drop, inplace=True)

In [103]:
PEI_df.head()

   YEAR              PROVINCE  IMMIGRANTS COUNT
0  2006  Prince Edward Island              60.0
1  2006  Prince Edward Island             135.0
2  2006  Prince Edward Island             200.0
3  2006  Prince Edward Island             170.0
4  2007  Prince Edward Island             149.0

In [104]:
PEI_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [105]:
#Dropping the null values and groupby Year to find the sum of immigrants
PEI_df_cleaned = PEI_df.dropna(subset=["IMMIGRANTS COUNT"])
PEI_result_df = PEI_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [106]:
#Adding the coordinated column to the dataframe
PEI_result_df['coordinates'] = [(46.25 ,-63.00)] * len(PEI_result_df)

In [107]:
#changing the datatype of immigration count to integer
PEI_result_df["IMMIGRANTS COUNT"] = PEI_result_df["IMMIGRANTS COUNT"].astype(int)
PEI_result_df

    YEAR              PROVINCE  IMMIGRANTS COUNT     coordinates
0   2006  Prince Edward Island              1009  (46.25, -63.0)
1   2007  Prince Edward Island              1386  (46.25, -63.0)
2   2008  Prince Edward Island              1839  (46.25, -63.0)
3   2009  Prince Edward Island              2166  (46.25, -63.0)
4   2010  Prince Edward Island              3017  (46.25, -63.0)
5   2011  Prince Edward Island              2183  (46.25, -63.0)
6   2012  Prince Edward Island              1633  (46.25, -63.0)
7   2013  Prince Edward Island              1318  (46.25, -63.0)
8   2014  Prince Edward Island              2128  (46.25, -63.0)
9   2015  Prince Edward Island              2348  (46.25, -63.0)
10  2016  Prince Edward Island              3444  (46.25, -63.0)
11  2017  Prince Edward Island              3393  (46.25, -63.0)
12  2018  Prince Edward Island              3664  (46.25, -63.0)
13  2019  Prince Edward Island              3964  (46.25, -63.0)
14  2020  Prince Edward Island              1561  (46.25, -63.0)
15  2021  Prince Edward Island              7560  (46.25, -63.0)
16  2022  Prince Edward Island             12456  (46.25, -63.0)

In [108]:
# Read the data into a Pandas DataFrame
Quebec_df = pd.read_csv('Quebec.csv')
Quebec_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,9104.0,NaN,NaN,NaN,0
1,2006-04,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,11421.0,NaN,NaN,NaN,0
2,2006-07,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,13940.0,NaN,NaN,NaN,0
3,2006-10,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,10217.0,NaN,NaN,NaN,0
4,2007-01,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,9362.0,NaN,NaN,NaN,0

In [109]:
# Extract the year from the "REF_DATE" column
Quebec_df["REF_DATE"] = Quebec_df["REF_DATE"].str[:4]
Quebec_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,9104.0,NaN,NaN,NaN,0
1,2006,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,11421.0,NaN,NaN,NaN,0
2,2006,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,13940.0,NaN,NaN,NaN,0
3,2006,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,10217.0,NaN,NaN,NaN,0
4,2007,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,9362.0,NaN,NaN,NaN,0

In [110]:
#Renaming the columns 'REF_DATE' ,GEO and 'VALUE'
Quebec_df = Quebec_df.rename(columns={'REF_DATE':'YEAR' ,'GEO': 'PROVINCE' , 'VALUE' : 'IMMIGRANTS COUNT'})
Quebec_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,9104.0,NaN,NaN,NaN,0
1,2006,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,11421.0,NaN,NaN,NaN,0
2,2006,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,13940.0,NaN,NaN,NaN,0
3,2006,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,10217.0,NaN,NaN,NaN,0
4,2007,Quebec,2016A000224,Immigrants,Persons,249,units,0,v29850367,6.1,9362.0,NaN,NaN,NaN,0

In [111]:
#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

Quebec_df.drop(columns=columns_to_drop, inplace=True)

In [112]:
Quebec_df.head()

   YEAR PROVINCE  IMMIGRANTS COUNT
0  2006   Quebec            9104.0
1  2006   Quebec           11421.0
2  2006   Quebec           13940.0
3  2006   Quebec           10217.0
4  2007   Quebec            9362.0

In [113]:
Quebec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [114]:
#Dropping the null values and groupby Year to find the sum of immigrants
Quebec_df_cleaned = Quebec_df.dropna(subset=["IMMIGRANTS COUNT"])
Quebec_result_df = Quebec_df_cleaned.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [115]:
#Adding the coordinated column to the dataframe
Quebec_result_df['coordinates'] = [(53.00,-70.00)] * len(Quebec_result_df)

In [116]:
#changing the datatype of immigration count to integer
Quebec_result_df["IMMIGRANTS COUNT"] = Quebec_result_df["IMMIGRANTS COUNT"].astype(int)
Quebec_result_df

    YEAR PROVINCE  IMMIGRANTS COUNT    coordinates
0   2006   Quebec             69565  (53.0, -70.0)
1   2007   Quebec             73504  (53.0, -70.0)
2   2008   Quebec             78684  (53.0, -70.0)
3   2009   Quebec             81298  (53.0, -70.0)
4   2010   Quebec             80145  (53.0, -70.0)
5   2011   Quebec             82484  (53.0, -70.0)
6   2012   Quebec             86210  (53.0, -70.0)
7   2013   Quebec             81490  (53.0, -70.0)
8   2014   Quebec             83268  (53.0, -70.0)
9   2015   Quebec             83553  (53.0, -70.0)
10  2016   Quebec             99968  (53.0, -70.0)
11  2017   Quebec            119147  (53.0, -70.0)
12  2018   Quebec            122769  (53.0, -70.0)
13  2019   Quebec            128785  (53.0, -70.0)
14  2020   Quebec             36738  (53.0, -70.0)
15  2021   Quebec            212221  (53.0, -70.0)
16  2022   Quebec            498555  (53.0, -70.0)

In [117]:
# Read the data into a Pandas DataFrame
Saskatchewan_df= pd.read_csv('Saskatchewan.csv')
Saskatchewan_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-01,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,479.0,NaN,NaN,NaN,0
1,2006-04,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,698.0,NaN,NaN,NaN,0
2,2006-07,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,698.0,NaN,NaN,NaN,0
3,2006-10,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,851.0,NaN,NaN,NaN,0
4,2007-01,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,656.0,NaN,NaN,NaN,0

In [118]:
# Extract the year from the "REF_DATE" column
Saskatchewan_df["REF_DATE"] = Saskatchewan_df["REF_DATE"].str[:4]
Saskatchewan_df.head()

,REF_DATE,GEO,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,479.0,NaN,NaN,NaN,0
1,2006,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,698.0,NaN,NaN,NaN,0
2,2006,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,698.0,NaN,NaN,NaN,0
3,2006,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,851.0,NaN,NaN,NaN,0
4,2007,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,656.0,NaN,NaN,NaN,0

In [119]:
#Renaming the columns 'REF_DATE',geo and 'VALUE'
Saskatchewan_df = Saskatchewan_df.rename(columns={'REF_DATE':'YEAR' ,'GEO': 'PROVINCE' ,'VALUE' : 'IMMIGRANTS COUNT'})
Saskatchewan_df.head()

,YEAR,PROVINCE,DGUID,Components of population growth,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,IMMIGRANTS COUNT,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,479.0,NaN,NaN,NaN,0
1,2006,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,698.0,NaN,NaN,NaN,0
2,2006,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,698.0,NaN,NaN,NaN,0
3,2006,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,851.0,NaN,NaN,NaN,0
4,2007,Saskatchewan,2016A000247,Immigrants,Persons,249,units,0,v29850382,9.1,656.0,NaN,NaN,NaN,0

In [120]:

#  Droping the unwanted columns from the dataframe
columns_to_drop = ['DGUID', 'Components of population growth', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
                    'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

Saskatchewan_df.drop(columns=columns_to_drop, inplace=True)

In [121]:
Saskatchewan_df.head()

   YEAR      PROVINCE  IMMIGRANTS COUNT
0  2006  Saskatchewan             479.0
1  2006  Saskatchewan             698.0
2  2006  Saskatchewan             698.0
3  2006  Saskatchewan             851.0
4  2007  Saskatchewan             656.0

In [122]:
Saskatchewan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              544 non-null    object
 1   PROVINCE          544 non-null    object
 2   IMMIGRANTS COUNT  394 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.9+ KB

In [123]:
#Dropping the null values and groupby Year to find the sum of immigrants
Saskatchewan_cleaned_df = Saskatchewan_df.dropna(subset=["IMMIGRANTS COUNT"])
Saskatchewan_result_df = Saskatchewan_cleaned_df.groupby("YEAR").agg({
    "PROVINCE": "first",  
    "IMMIGRANTS COUNT": "sum"
}).reset_index()

In [124]:
#Adding the coordinated column to the dataframe
Saskatchewan_result_df['coordinates'] = [(	55.00,-106.00)] * len(Saskatchewan_result_df)

In [125]:
#changing the datatype of immigration count to integer
Saskatchewan_result_df["IMMIGRANTS COUNT"] = Saskatchewan_result_df["IMMIGRANTS COUNT"].astype(int)
Saskatchewan_result_df

    YEAR      PROVINCE  IMMIGRANTS COUNT     coordinates
0   2006  Saskatchewan              4403  (55.0, -106.0)
1   2007  Saskatchewan              5746  (55.0, -106.0)
2   2008  Saskatchewan              8521  (55.0, -106.0)
3   2009  Saskatchewan             10753  (55.0, -106.0)
4   2010  Saskatchewan              9567  (55.0, -106.0)
5   2011  Saskatchewan             12730  (55.0, -106.0)
6   2012  Saskatchewan             15859  (55.0, -106.0)
7   2013  Saskatchewan             15609  (55.0, -106.0)
8   2014  Saskatchewan             14327  (55.0, -106.0)
9   2015  Saskatchewan             16664  (55.0, -106.0)
10  2016  Saskatchewan             19489  (55.0, -106.0)
11  2017  Saskatchewan             17922  (55.0, -106.0)
12  2018  Saskatchewan             19352  (55.0, -106.0)
13  2019  Saskatchewan             21214  (55.0, -106.0)
14  2020  Saskatchewan              8328  (55.0, -106.0)
15  2021  Saskatchewan             25307  (55.0, -106.0)
16  2022  Saskatchewan             55857  (55.0, -106.0)

In [126]:
#Merging all the provinces dataframes
Merged_Provinces_df = pd.concat([Alberta_result_df,BritishColumbia_result_df,Manitoba_result_df,NewBrunswick_result_df,newFoundlandLaborador_result_df,Novascotia_result_df,
                                 Ontario_result_df,PEI_result_df,Quebec_result_df,Saskatchewan_result_df])
# Resetting the index
Merged_Provinces_df.reset_index(drop=True, inplace=True)

In [127]:
Merged_Provinces_df

     YEAR      PROVINCE  IMMIGRANTS COUNT     coordinates
0    2006       Alberta             47194  (55.0, -115.0)
1    2007       Alberta             57508  (55.0, -115.0)
2    2008       Alberta             68668  (55.0, -115.0)
3    2009       Alberta             53051  (55.0, -115.0)
4    2010       Alberta             41838  (55.0, -115.0)
..    ...           ...               ...             ...
165  2018  Saskatchewan             19352  (55.0, -106.0)
166  2019  Saskatchewan             21214  (55.0, -106.0)
167  2020  Saskatchewan              8328  (55.0, -106.0)
168  2021  Saskatchewan             25307  (55.0, -106.0)
169  2022  Saskatchewan             55857  (55.0, -106.0)

[170 rows x 4 columns]

In [129]:
Merged_Provinces_df = Merged_Provinces_df.rename(columns={'YEAR':'year' ,'PROVINCE': 'province' , 'IMMIGRANTS COUNT' : 'immigrants_count'})
Merged_Provinces_df.head()

   year province  immigrants_count     coordinates
0  2006  Alberta             47194  (55.0, -115.0)
1  2007  Alberta             57508  (55.0, -115.0)
2  2008  Alberta             68668  (55.0, -115.0)
3  2009  Alberta             53051  (55.0, -115.0)
4  2010  Alberta             41838  (55.0, -115.0)

In [130]:
# Exporting the merged DataFrame to a CSV file
Merged_Provinces_df.to_csv('Immigrants.csv', index=False)